@media screen and (max-width: 1050px) {
  .btn_menu {
    display: block;
  }

  .main_menu,
  .i_carro .tipo_moneda {
    display: none;
  }

  .contenedor_header {
    grid-template-columns: 10% 20% auto;
    padding-top: 0;
  }

  .i_carro {
    grid-template-columns: auto;
  }

  h1.logo a {
    background-size: 100% !important;
    width: 70px;
    height: 70px;
  }

  header:hover {
    background: transparent;
  }

  header:hover .logo a {
    background: url(img/logo2.jpg) no-repeat;
  }

  header:hover .main_menu nav ul li > a {
    color: #000;
  }

  header:hover .i_carro .i-search {
    background: url(img/icons/search.png) no-repeat;
  }

  header:hover .i_carro .i-profile {
    background: url(img/icons/profile.png) no-repeat;
  }

  header:hover .i_carro .i-heart {
    background: url(img/icons/heart.png) no-repeat;
  }

  header:hover .i_carro .i-cart {
    background: url(img/icons/cart.png) no-repeat;
  }

  header:hover .i_carro .tipo_moneda .active {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  header:hover .main_menu ul li a.active {
    border-bottom: 1px solid #fff;
  }

  .main_menu {
    display: none;
    position: absolute;
    background: #fff;
    left: 0;
    width: 80%;
    max-width: 300px;
    z-index: 10000;
    top: 90px;
    padding: 0 10px;
  }

  .main_menu nav > ul {
    padding: 0;
  }

  .main_menu nav ul > li {
    display: block;
    margin-right: 0px;
    padding: 20px 15px;
    height: auto;
    line-height: initial;
    border-bottom: 1px solid #cccccc;
  }

  .main_menu nav ul > li:last-child {
    border-bottom: 0;
  }

  .main_menu nav ul > li a {
    color: #000;
  }

  .submenu li img {
    display: none;
  }

  .arrow-nav-xs {
    display: flex;
  }

  .submenu {
    position: initial;
    top: initial;
  }

  .content-submenu {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .submenu li {
    border-bottom: 0 !important;
    display: block !important;
    width: 100%;
    padding: 0 !important;
  }

  .item_sub {
    display: block;
    padding: 20px;
  }

  .item_sub span {
    color: #828282;
    text-shadow: none;
    max-width: 100%;
    font-size: 16px;
    display: block;
  }

  .breadcrumbs {
    height: 45px;
  }

  .breadcrumbs ul li {
    line-height: 43px;
  }
}

@media screen and (max-width: 1000px) {
  .owl-carousel .nombre-artista {
    font-size: 30px;
  }

  .owl-carousel .owl-item {
    margin-top: 20px;
  }
}

@media screen and (max-width: 980px) {
  .grid-carro-resumen {
    grid-template-columns: 100%;
    grid-template-areas: "resumen" "carro";
  }

  .contTotales .contUltimosVistos {
    display: none;
  }

  .fl-resumen {
    float: left;
    width: 47%;
  }

  .btnCompletarCompra {
    float: right;
    width: 50%;
  }

  .bread_carro {
    padding: 12px 0;
  }

  .bread_carro .list {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .grid-ficha,
  .grid-ficha-bottom {
    grid-template-columns: 56% 41%;
  }

  .nav-slider-ficha {
    width: 65%;
  }

  .desk-display {
    display: none;
  }

  .xs-display {
    display: block;
  }

  .artista-link {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .content_nav {
    display: none;
    position: absolute;
    right: 0;
    width: 250px;
    grid-template-columns: 100%;
    z-index: 9;
    background: #0e0f13;
    padding: 8px;
  }

  .filter-home-xs {
    display: block;
    float: right;
  }

  .filter-home-xs span {
    font-size: 20px;
    margin-right: 7px;
  }

  .nav-slider-home-2 li {
    display: block;
    border-bottom: 1px solid #292929;
    padding: 14px 0;
    margin-right: 0;
  }

  .nav-slider-home li a,
  .nav-slider-home-2 li a {
    font-size: 16px;
  }

  .btn-ver-temas {
    font-size: 16px;
    background: transparent;
    padding: 14px 0 10px 0;
    text-align: left;
    width: 100%;
    float: initial;
  }

  .grid-page {
    grid-template-columns: 100%;
  }

  .nonfilter {
    display: none !important;
  }

  .nonfilter-xs {
    display: block !important;
  }

  .grid-page > .col:first-child {
    display: none;
    position: absolute;
    background: #151618;
    z-index: 10;
    width: 80%;
    width: 300px;
    border-top: 0;
    left: -3%;
    top: -36px;
  }

  .titulo_filtros {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .content_slider {
    width: 95%;
  }

  .owl-carousel .item {
    max-width: 100%;
  }

  .owl-carousel .owl-nav {
    width: 86%;
    top: 49%;
  }

  .owl-carousel .active .nombre-artista {
    display: block;
  }

  .owl-carousel {
    margin-top: 10px;
  }

  .xs840-none {
    display: none;
  }

  .menuMiCuenta {
    display: none;
    width: 100%;
  }

  .button-menu-dash-xs {
    display: block;
  }

  .cont_bodydash {
    width: 100%;
  }

  .cont_bodydash h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 820px) {
  .grid-relacionados {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media screen and (max-width: 800px) {
  .grid-ficha,
  .grid-ficha-bottom {
    grid-template-columns: 100%;
  }

  .body-ep {
    grid-template-columns: 100%;
  }

  .body-ep > .col {
    border-right: 0;
    border-bottom: 1px solid #404142;
    padding: 0;
    padding-top: 20px;
  }

  .row_total {
    max-width: 100%;
  }

  .grid-vertical-resumen {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "totales" "metodos" "button";
  }

  .grid-vertical-resumen .col:nth-child(1) {
    grid-area: button;
  }

  .grid-vertical-resumen .col:nth-child(2) {
    grid-area: metodos;
  }

  .grid-vertical-resumen .col:nth-child(3) {
    grid-area: totales;
  }

  .sep-desk {
    display: none;
  }

  .sep-xs {
    display: block;
  }

  .grid-fp {
    grid-template-columns: repeat(3, calc(33.333333% - 7px));
  }
}

@media screen and (max-width: 740px) {
  .desktop-slider {
    display: none !important;
  }

  .tablet-slider {
    display: block !important;
  }

  .lateralServicio > a .arrow-serv {
    display: block;
  }

  .grid-banner {
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-column-gap: 15px;
    margin-top: 20px;
  }

  .grid-banner .col:first-child {
    overflow: hidden;
  }

  .grid-banner .col:first-child img {
    width: 145%;
  }

  .grid-banner .col .textos {
    height: 100px;
  }

  .grid-banner .col .title {
    font-size: 22px;
  }

  .grid-banner .col .ver_mas {
    font-size: 16px;
  }

  .grid-home .col .data {
    margin-top: 0;
    bottom: 0px;
    padding: 10px !important;
    font-size: 14px;
  }

  .grid-home .box_vacio {
    height: 44px;
  }

  .grid-home .col .data .titles .nombre,
  .grid-home .col .data .titles .artista {
    font-size: 16px !important;
  }

  .grid-home {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .content-news {
    padding: 15px;
  }

  .center-news {
    grid-template-columns: 60% 40%;
  }

  .content-news .title {
    display: none;
  }

  .content-news .email-news,
  .content-news .btn {
    max-width: 100%;
  }

  .content-news .email-news {
    height: 47px;
    border-right: 0;
  }

  #logo-footer {
    display: none;
  }

  .noneDeskt {
    display: block;
  }

  footer .col-footer .title_ft {
    margin-top: 0;
    border-bottom: 1px solid #cccccc;
    padding: 20px 10px;
    font-family: "PT Sans", sans-serif;
  }

  footer .col-footer {
    grid-template-columns: 100%;
  }

  footer .col-footer .list {
    border-bottom: 1px solid #cccccc;
  }

  .lista-contacto {
    border-bottom: 1px solid #cccccc;
    margin-top: 0px;
    padding: 10px 20px;
  }

  footer .col-footer .list li {
    padding: 15px 20px;
    margin-bottom: 0;
  }

  .xs_pt-0 {
    padding-top: 0;
  }

  .xs_mt-0 {
    margin-top: 0;
  }

  .arrow-footer {
    display: block;
    float: right;
    margin-top: 3px;
  }

  .col-rrss {
    padding: 0 20px;
  }

  .logowpay-footer {
    margin-left: 20px;
    margin-bottom: 25px;
  }

  .logompago-footer {
    margin-bottom: 25px;
  }

  .open-list-footer {
    display: none;
  }

  .grid-products {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .pop-cart {
    width: 90%;
    right: 0;
    left: 4%;
  }

  .grid-title_carro {
    display: none;
  }

  .grid-fila_productos .col_cart:nth-child(1) {
    grid-area: image;
  }

  .grid-fila_productos .col_cart:nth-child(2) {
    grid-area: nombre;
  }

  .grid-fila_productos .col_cart:nth-child(3) {
    grid-area: precio;
  }

  .grid-fila_productos .col_cart:nth-child(4) {
    grid-area: qty;
  }

  .grid-fila_productos .col_cart:nth-child(5) {
    grid-area: total;
  }

  .grid-fila_productos {
    grid-template-columns: 40% calc(40% - 31px) 20%;
    grid-template-areas: "image nombre qty" "image precio total";
    grid-column-gap: 15px;
  }

  .precio_carro,
  .descuento_carro {
    text-align: left;
  }

  .grid-servicios {
    grid-template-columns: 100%;
  }

  .grid-servicios .content-body {
    display: none;
  }

  .lateralServicio {
    max-width: 100%;
    background: transparent;
    margin-bottom: 20px;
  }

  .dis-serv-xs {
    display: block;
  }

  .lateralServicio > a {
    color: #fff;
    background: #000;
  }

  .grilla-artistas {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .grilla-artistas > .col .nombre {
    font-size: 16px;
  }

  .contentBiografia {
    grid-template-columns: 100%;
  }

  .contentBiografia > .col .biografia {
    font-size: 14px;
  }

  .grid_ident {
    grid-template-columns: 100%;
    grid-template-areas: "login" "registro";
  }

  .grid_ident .col:first-child {
    border-right: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }

  .grid_ident .col:last-child {
    padding-left: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #404142;
  }

  .row-pedidos .row-producto {
    grid-template-columns: 25% 20% repeat(2, auto);
  }

  .row-pedidos .row-producto .col:first-child {
    display: none;
  }

  .grid-direcciones {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 620px) {
  .title_pop {
    font-size: 24px;
    text-align: center;
  }

  .pop-cart {
    padding: 35px;
  }

  .grid_pop {
    grid-template-columns: calc(50% - 10px) calc(50% - 21px);
  }

  .grid_pop .txt_up {
    font-size: 23px;
  }

  .grid_pop .txt_del {
    font-size: 18px;
  }

  .grid_pop .price {
    font-size: 25px;
  }

  .close_pop {
    margin-top: -15px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 600px) {
  .content_box {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .content_box .col:nth-child(2) {
    overflow: hidden;
  }

  .content_box .col:nth-child(2) img {
    width: 145%;
  }

  .content_box .textos {
    left: 8px;
    bottom: 8px;
    height: auto;
  }

  .content_box .col .title {
    font-size: 24px;
  }

  .content_box .col .ver_mas {
    font-size: 16px;
  }

  .row-productos-guardados {
    grid-template-columns: 40% calc(60% - 15px);
    grid-template-areas: "img nombre" "button button";
    grid-row-gap: 20px;
    position: relative;
    grid-column-gap: 15px;
  }

  .row-productos-guardados .eliminarGuardado {
    position: absolute;
    right: 0;
    top: 0;
  }

  .row-productos-guardados .col:nth-child(1) {
    grid-area: img;
  }

  .row-productos-guardados .col:nth-child(2) {
    grid-area: nombre;
  }

  .row-productos-guardados .col:nth-child(3) {
    grid-area: button;
  }
}

@media screen and (max-width: 540px) {
  .nombre_carro,
  .artista_carro,
  .detalle_prd {
    font-size: 14px;
  }

  .row-pedidos .row-producto {
    grid-template-columns: 30% 25% auto;
  }

  .row-pedidos .row-producto .col:nth-child(4) {
    display: none;
  }

  .volverAComprar {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .row-pedidos .row-producto {
    grid-template-columns: 60% 40%;
    grid-template-areas: "nombre precio" "boton boton";
  }

  .row-pedidos .row-producto .col:nth-child(3) {
    grid-area: precio;
  }

  .row-pedidos .row-producto .col:nth-child(2) {
    grid-area: nombre;
  }

  .row-pedidos .row-producto .col:nth-child(5) {
    grid-area: boton;
  }

  .volverAComprar {
    max-width: 100%;
  }

  header {
    height: 70px;
  }

  h1.logo a {
    width: 50px;
    height: 50px;
  }

  .contenedor_header {
    grid-template-columns: 12% 25% auto;
  }

  .movil-slider {
    display: block !important;
  }

  .tablet-slider {
    display: none !important;
  }

  .grid-banner {
    margin-top: 10px;
  }

  .grid-banner .col {
    overflow: hidden;
    height: 120px;
  }

  .grid-banner .col .textos {
    height: auto;
    width: 75%;
    left: 8px;
    bottom: 8px;
  }

  .grid-banner .col .title {
    font-size: 18px;
  }

  .grid-banner .col .ver_mas {
    font-size: 14px;
  }

  .xs_pb-20 {
    padding-bottom: 20px;
  }

  #contValoresResumen {
    padding: 15px 15px;
  }

  #contValoresResumen h3 {
    font-size: 18px;
  }

  #contValoresResumen h3 span {
    display: block;
  }

  .filatoolTip {
    font-size: 12px;
  }

  .change_password {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .btnFormRegistro {
    max-width: 100%;
  }

  .cont_bodydash .double-form {
    grid-template-columns: 100%;
  }

  .grid-direcciones {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .titulo-home {
    max-width: 179px;
  }

  .metodo label img {
    width: 55px;
  }

  .grid-fp {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}
