@charset "UTF-8";
/* CSS Document */

@media (max-width: 1400px) {
	
	}
	
@media (max-width: 1280px) {
	
	}

@media (max-width: 1050px) {
	
	.menu li{padding: 0 10px;}
	.headCat h1 {padding: 30px 180px 30px 20px;}
	
	.grilla { width: calc(33% - 10px); padding-bottom:10px;}
	.contCarro{width: calc(70% - 20px);}
	.contTotales{ width:30%;}
    .infoClienteExito{width: 100%; margin: 20px 0; padding-bottom:20px; border-bottom:solid 1px #ccc;}
	.contTotalesExito {width: calc(30% - 32px);}
	}
@media (max-width: 940px) {
	/* cambio de menu */
	.buscador{display:none; position:absolute; width:96%; margin-left:0; background-color:rgba(0,0,0, .8); padding-top:60px; left:0; padding-left:2%; padding-right:2%; z-index:-1; padding-bottom:20px;}
	.iconoBuscador{display:block;}
	h1.logo { width: 150px; height: 52px; }
	h1.logo a {height: 52px;}
	.contMiCuenta{display:none;}
	.carro-header{ margin-top:0; width:auto;}
	.contBtnMenuResponsive{display:block; margin-left:20px;}
	.btn_search{ top: 65px; right: 20px;}
	
	.escritorio{display:none;}
	.movil{display: block;display: block; float: right; width: 10%; height:40px; text-align: center; color: #fff; cursor:pointer; line-height: 42px;}
	
	.contMenu{display:none; background-color:rgba(0,0,0, .8); position:fixed; top:65px; z-index:9; left:0; height:100%; margin-top:0;}
	.menu li {display: block; margin:0;  padding:0; min-height: 50px; height:auto; line-height:50px; float:left; width:100%;}
	.menu li a{float:left; width:90%; text-align:left; position:relative; color:#fff;}
	.iconoMenu{ display:none; }
	
	.menu li ul.sub{display: none; float: left; top: 0; background: transparent; color: #fff; position: unset; width:calc(100% - 30px); padding-left:30px;}
	.menu li ul li a{color:#ccc;}
	.menu li ul ul {width: 100%; position: relative; z-index: 99; left: 50px;}
	.menu li ul ul li { min-height:30px; line-height:30px;}

	.nombreGrilla{font-size:14px;}
	header{ position:fixed; top:0; left:0; z-index:99;}
	.parcheHeader{ float:left; width:100%; height: 67px;}
}
@media (max-width: 850px) {
	.contTotales{display:none;}
	.contCarro{width: 100%;	margin-right:0;}
	.fixedResponsive{display:block;}
	.fixedResponsive h3, 
	.filatoolTip,
	.btnCompletarCompra{display:none;}
	.fixedResponsive .fixedCarro1 .btnCompletarCompra{display:block;}
	.fixedResponsive .fixedCarro1{z-index: 99; filter: alpha(opacity=99); -moz-opacity: .99; opacity: .99;}
    .cont50Identificacion h3{text-align:center;}
    
    .contTotalesExito {width: calc(100% - 32px); margin-top:0;}
	.contInfoPago .ancho25{ width:50%; margin-bottom:20px;}
	.menuMiCuenta {width: calc(30% - 22px);}
	.contenidoMiCuenta{ width:70%;}
	.cont50Form{width: 100%; padding: 0;}
	#formularioActualizar #btnActualizar{ width:100%; margin-left:0!important; margin-right:0;}
	.encabezado .ancho20{ width:30%;}
}

@media (max-width: 800px) {
	
	.btnAgregarMasProductos{ display:none;}
	.contUltimosVistos{ display:none;}
	#contValoresResumen{width: 0; border: none; background-color: transparent; padding: 0; margin-bottom: 0;}
	#contValoresResumen h3,
	.filatoolTip,
	.btnCompletarCompra{display:none;}
	.contTotales{width:0;}
	.contCarro {width: 100%; margin-right:0; padding-right:0;}
	.fixedCarro1{z-index: 99; filter: alpha(opacity=99); -moz-opacity: .99; opacity: .99;}
	.fixedCarro1 .btnCompletarCompra{ display:block;}
	.grilla { width: calc(50% - 12px); padding-bottom:10px;}
    
    /*Envio y pago*/
    .contBotoneraEnvioYPago{display:block;}
	.contDatosCarro{ width:100%;}
	.colForm1 {padding: 15px; width: calc(100% - 32px); margin: 0 0 20px 0;}
	.contCarroPaso3{flot:left; width:100%;}
	.contCarroPaso3 .col2{width: calc(100% - 30px); margin-left: 0; padding: 15px;}
	.contFactura { float: left; width: calc(100% - 30px); margin-top: 0px; margin-bottom:20px; background: #f7f7f7; padding: 0 15px 15px 15px; position: relative; margin-right: 0px; margin-left: 0px; }
	.contPaso3Movil{display:none;}
	#facturaMovil .ancho50Centro{ width: calc(100% - 20px);}
    /*Envio y pago*/
    
	}
@media (max-width: 700px) {
	.colResp100{ width:100%;}
	#formNewsletter{ padding-left:20px; width: calc(100% - 40px);}
	.contRedes{ display:none;}
	#btnNewsletter{top:-10px;}
	.contrespFooter{ display:none;}
	.abrirFooter{display:block;}
	.galeriaImagenes{ width:100%;}
	.galeria{ width:70%; margin-left:15%;}
	.marginLeft5{ width:80%; margin-left:10%;}
	
	.contValoresFixed{ top: unset; bottom:0;}
	.contImgFixedFicha{ display:none;}
	.infoFixedFicha{ display:none;}
	.valoresFixed .cont50.floatRight{ width:100%;}
	/*.contPrecioFixed{ text-align:left;}*/
	.contPop{ width: calc(96% - 40px); margin-left:2%; height: auto; top:5%; left:unset; margin-top:0;}
	.contPop .ancho50.floatLeft{ width:100%; padding-bottom:20px; border-bottom:solid 1px #ccc; }
	.contDatosCompra{border-left:0;}
	.tituloRelacionados{font-size:20px;}
	.imgDestacados{ width:calc(100% - 100px); margin-right:0; padding-right:50px; height:auto;}
	.infoDestacado{ width:100%; margin-left:0; margin-top:0;}
	.logoFooter{display:none;}
	.menuFooter{ width:33%;}
	.contNewsletterFooter{width:33%;}
	.infoFichaProducto{ width:100%;}
	
	/*.cantFila{ display:none;}*/
	/*.filaTitulos .ancho10{display:none;}
	.filaTitulos .ancho50{width:60%;}*/
	/*.contInfoShowCart{ width:50%;}*/
	
	.tituloGuardados{ font-size:18px;}
	.contDirecciones{width: calc(50% - 62px);}
	.encabezado .ancho20{ width:50%; margin-bottom:10px; text-align:left;}
	.encabezado .ancho20.floatRight{ float:left;}
	
}
@media (max-width: 600px) {
	.filtros{ width:50%;}
	.contMiCarro{display:none;}
	.slide{ height:400px; background-size:auto 100%; background-position:center top;}
	.slide img{ display:none;}
	.btnOfertasSlide{display: block;}
    .filaTitulos{display:none;}
	.filaProductos .imgFila{ width:40%;}
	.filaProductos .contInfoShowCart,
	.filaProductos .precioFila,
	.filaProductos .cantFila,
	.filaProductos .totalFila{ width:calc(60% - 20px); margin-left:20px;}
	.botoneraShowCart{ display:none;}
	.contInfoShowCart{ margin-bottom:10px;}
	.precioFila{ font-size:20px; margin-bottom:10px; font-size:16px; color:#666;}
	
    .totalFila{ font-size:24px; text-align:left; margin-top:10px;}
    .totalFila span{ float:left; font-weight:600;}

	.spinnerCarro{ width:50px; position:relative; margin-left:40px;}
	.campoCantCarroResumen{ width:50px; text-align:center;}
	.contFlechas{ position:absolute; margin-right:0; width:133px; left:-40px; top:-1px; height:38px;}
	.contFlechas span.menos{ position:absolute; left:0; top:0; height:38px; width:40px; border:solid 1px #ccc; border-right:none; text-align:center; line-height:38px;}
	.contFlechas span.mas{ position:absolute; right:0; top:0; height:38px; width:40px; border:solid 1px #ccc;  text-align:center; line-height:38px;}
	.filaProductos .precioFila span{float:left;}
	.unidadMovil{ display:block; margin-left:5px; color:#ccc;}
	.botoneraMovil{ display:block; float:right; width:calc(60% - 20px); margin-left:20px;}
    #contFilasCarro{ border-top: solid 1px #ccc; padding-top:20px;}
    
    .infoClienteExito .ancho33{ width:100%; margin-bottom:20px;}
	.contInfoPago .ancho25 {width: 100%; margin-bottom:0;}
	.btnTerminos{ padding:0; width:100%; text-align:center;}
	.contBotonesCarro a{padding: 0 20px;}
	
	.menuMiCuenta {width: 100%; margin-right:0; border:none; text-align:center;}
	.menuMiCuenta a{width: auto; padding: 10px 15px; border: solid 1px #ccc; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; margin:5px; display:inline-block; float:none;}
	.contenidoMiCuenta{ width:100%;}
	.acceso1{text-align:left; font-size:24px;}
	.contNuevaDireccion{ width:100%;}
	.fancybox-content{padding: 20px!important; max-width: calc(90% - 40px)!important;}
	.contNuevaDireccion .ancho50Centro{width: 100%; margin: 0 0 2px 0;}
	.guardarDireccion{ padding:0; width:100%; margin-left:0; text-align:center;}
	.precioFilaGuardado { float: left; width: calc(60% - 20px); padding-left: 20px; text-align:left;}
}

@media (max-width: 490px) {
	.cantidad{ margin-bottom:10px;}
	.menuFooter{ width:100%; text-align:center;}
	.menuFooter a{ width:calc(100% - 6px); height:30px; line-height:20px; float:left;}
	.contNewsletterFooter{display:none;}
    .fixedCarro1 .btnCompletarCompra {width: 45%;}
	.fixedCarro1 .valoresCarro1Fixed { margin-right: 10px; width: calc(55% - 10px);}
    .cont50Identificacion{display:none;}
	.contBotonesIdentificacionResponsive{display:block;}
    .cont50Identificacion{ width:calc(100% - 42px); margin:20px; float:left;}
    .contBotonesCarro a{ margin:0 0 10px 0; width:100%; padding:0;}
	.contDatosPago .ancho33{ width:100%; margin-bottom:10px; border-bottom: solid 1px #ccc; padding-bottom:15px;}
}
