@charset "utf-8";
/* CSS Document */

/* RESET GENERAL */
html, body, div, span, applet, object, iframe,object,
h1, h2, h3, h4, h5, h6, h7, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, strong,
input, select,
center, u, b, i { margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: normal; font-size: 100%; font-family:inherit;
vertical-align: baseline; list-style:none;  }
img  {   }
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; font-weight: normal; font-style: normal; font-family: inherit; vertical-align: middle;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block;}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400);
/* font face custom */
@font-face {
	font-family: 'HelveticaLTStd-Light';
	src: url('fonts/HelveticaLTStd-Light.eot?') format('eot'), 
	     url('fonts/HelveticaLTStd-Light.otf')  format('opentype'),
	     url('fonts/HelveticaLTStd-Light.woff') format('woff'), 
	     url('fonts/HelveticaLTStd-Light.ttf')  format('truetype'),
	     url('fonts/HelveticaLTStd-Light.svg#HelveticaLTStd-Light') format('svg');
		  font-weight: normal;
    font-style: normal;
}

@font-face {
	  font-family: 'HelveticaLTStd-Bold';
	src: url('fonts/HelveticaLTStd-Bold.eot?') format('eot'), 
	     url('fonts/HelveticaLTStd-Bold.otf')  format('opentype'),
	     url('fonts/HelveticaLTStd-Bold.woff') format('woff'), 
	     url('fonts/HelveticaLTStd-Bold.ttf')  format('truetype'),
	     url('fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
		  font-weight: normal;
    font-style: normal;
}


a { text-decoration:none;}
