@charset "utf-8";

/* CSS Document */


/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400);*/


/* font face custom */

@font-face {
    font-family: 'HelveticaLTStd-Light';
    src: url('fonts/HelveticaLTStd-Light.eot?') format('eot'), url('fonts/HelveticaLTStd-Light.otf') format('opentype'), url('fonts/HelveticaLTStd-Light.woff') format('woff'), url('fonts/HelveticaLTStd-Light.ttf') format('truetype'), url('fonts/HelveticaLTStd-Light.svg#HelveticaLTStd-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStd-Bold';
    src: url('fonts/HelveticaLTStd-Bold.eot?') format('eot'), url('fonts/HelveticaLTStd-Bold.otf') format('opentype'), url('fonts/HelveticaLTStd-Bold.woff') format('woff'), url('fonts/HelveticaLTStd-Bold.ttf') format('truetype'), url('fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    /*color: #666666;*/
    text-decoration: none;
}

h3 {
    font-family: 'HelveticaLTStd-Bold';
    font-size: 16px;
    color: #333;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

titulo {
    font-family: 'HelveticaLTStd-Bold';
    font-size: 18px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    margin: 5px;
}

subtitulo {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    margin: 5px;
}

h2 {
    font-family: 'HelveticaLTStd-Bold';
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

a {
    text-decoration: underline;
}

input[type=text]:hover {
    background-color: #F0F0F0;
}

input[type=password],
input[type=text] {
    width: 230px;
}

input[type=password]:hover {
    background-color: #F0F0F0;
}

input[type=submit] {
    font-size: 12px;
    color: #333;
    background: #CCC;
    border: 1px #666 solid;
    width: auto;
    padding: 3px 4px 1px 4px;
    font-family: 'HelveticaLTStd-Light';
    font-weight: lighter;
}

input[type=submit]:hover {
    color: #CCC;
    background: #333;
    cursor: pointer;
}

input.disabled,
input.disabled:hover {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    background: #CCC;
    border: 1px #666 solid;
    width: 80px;
    height: 19px;
    cursor: default;
}

.boton2 {
    font-size: 10px;
    font-family: 'HelveticaLTStd-Bold';
    color: #FFF;
    background: #F00;
    border: 1px #666 solid;
    width: auto;
    padding: 4px 4px 2px 4px;
    text-decoration: none;
}

.boton2:hover {
    color: #F00;
    background: #CCC;
    cursor: pointer;
}

.boton3 {
    font-size: 12px;
    /*font-family: 'HelveticaLTStd-Bold';*/
    color: #333;
    background: #ececec;
    border: 1px #65b2e6 solid;
    width: auto;
    padding: 3px 4px 1px 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.boton3:hover {
    color: #CCC;
    background: #333;
    cursor: pointer;
}

.boton4 {
    font-size: 12px;
    font-family: 'HelveticaLTStd-Light';
    color: #333;
    background: #ececec;
    border: 1px #666 solid;
    width: auto;
    padding: 4px 4px 2px 4px;
    text-decoration: none;
}

.boton4:hover {
    color: #CCC;
    background: #333;
    cursor: pointer;
}

.contenido {
    text-align: justify;
}

.error {
    color: #F00;
    font-weight: bold;
}

.no_img {
    color: #009;
    font-weight: bold;
}

.link {
    text-decoration: none;
}

#tab-3 ul {
    padding-left: 0px;
}

#tab-3 li {
    list-style: none;
}

#tab-3 ul li ul {
    padding-left: 30px;
}

#num_hoja {
    width: 100%;
    text-align: center;
}

#num_hoja .page {
    color: #999;
    text-decoration: none;
}

#num_hoja .page:hover {
    text-decoration: underline;
}

#num_hoja .page_selected {
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

#cuadros .cuadro_info {
    width: 100%;
    border: 1px solid #999;
    text-align: center;
    margin-top: 10px;
}

#cuadros .cuadro_info h1 {
    margin-top: 0px;
    height: 20px;
    background-color: #999;
    color: #fff;
    text-align: left;
    padding: 3px 10px;
}

#cuadros .cuadro_info ul {
    padding-left: 8px;
    text-align: left;
}

#cuadros .cuadro_info ul li {
    list-style: none;
}

#cuadros .cuadro_info ul li a {
    text-decoration: none;
}

#cuadros .cuadro_info ul li a:hover {
    color: red;
}

.galery_wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.delete_img_gal {
    position: absolute;
    top: -14px;
    left: 85%;
    width: 30px;
    z-index: 999;
}

.delete_img {
    position: absolute;
    top: -5px;
    /* 	left: 200px; */
    width: 30px;
    z-index: 999;
}

.img_gal {
    z-index: 1;
}

#loader_consulta {
    height: 15px;
    width: 70px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 5px;
    font-weight: bold;
    z-index: 9999;
}

.btn_borrar_imagen {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 99;
}

.img_admin {
    float: left;
    position: relative;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.86);
    z-index: 9999;
    display: none;
    font-family: 'Open Sans', sans-serif;
}

.lightbox .contenedor {
    width: 1040px;
    height: 509px;
    border: 1px solid #CFCFCF;
    margin: 5% auto;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    background: url(../pics/img-lightbox.png) no-repeat;
    background-color: white;
    background-position: 40px 45px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.lightbox .contenedor .titulo {
    font-size: 36px;
    line-height: 37px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 53px;
    margin-bottom: 45px;
}

.lightbox .contenedor .text p {
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btnazul {
    background: url(../pics/mas-btn.png) no-repeat #4C81C6;
    width: auto;
    height: 37px;
    float: right;
    background-position: 15px 7px;
    -webkit-border-radius: 5px;
    margin: 2px 0 0 14px;
    border-radius: 5px;
}

.btnazul a {
    font-size: 16px;
    display: block;
    height: 40px;
    line-height: 38px;
    padding: 0px 20px 0px 48px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
}

.paginacion {
    float: left;
    text-align: right;
    width: 668px;
    padding-bottom: 15px;
}

.paginacion a {
    width: 27px;
    height: 27px;
    color: #FFF;
    background: #1777B6;
    text-align: center;
    line-height: 27px;
    float: left;
    margin-right: 3px;
    padding: 2px;
    text-decoration: none;
}

.paginacion a.all {
    width: auto!important;
    margin-right: 3px;
    padding: 2px 10px;
}

.paginacion a.current {
    background: #10C2AA;
}

.paginacion span {
    width: 27px;
    height: 27px;
    color: #FFF;
    background: #65b2e6;
    text-align: center;
    line-height: 27px;
    float: left;
    margin-right: 3px;
    padding: 2px;
    text-decoration: none;
}

.paginacion a:hover {
    background: #10B2CC;
    color: #fff;
}

.botonBuscar {
    width: 100px !important;
    height: 30px !important;
    background: #1777B6 !important;
    color: #fff !important;
    border: 1px solid #1777B6!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.botonBuscar:hover {
    background: #488ebd !important;
}

.page {
    display: none;
}

.cont-form {
    max-width: 400px;
}

.cont-form p {
    font-weight: bold;
    font-size: 14px;
}

.form-mchimp {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.form-mchimp input {
    float: right;
}

#donde_el_descuento_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 253px;
    padding: 7px;
    background: #fff url(../pics/select.jpg) no-repeat;
    background-position: 99.5%;
    background-size: auto;
}

.btn-active {
    color: #fff;
    float: right;
    text-decoration: none;
    background: #4c4c4c;
    padding: 0px 15px;
    height: 29px;
    line-height: 29px;
    border-radius: 3px;
    transition: .5s;
    margin-right: 10px;
}

.btn-active {
    background: #2a2a2a;
}

.activado {
    background: #10C2AA !important;
}

.activado:hover {
    background: #0ca28e !important;
}

.table-excel {
    width: 400px;
    text-align: center;
}

.table-excel thead tr th {
    background: #65b2e6;
    color: #fff;
}

.table-excel tbody tr td {
    border-bottom: 1px solid #ccc;
}

#btn_transferencias {
    float: left;
    margin-right: 5px;
    background: #f9f9f9;
    padding: 0 10px 0 10px;
    border: solid 1px #666;
    color: #666;
    border-radius: 5px;
    height: 28px;
    font-weight: lighter;
    line-height: 28px;
    text-transform: uppercase;
}

.bg_mdl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;
}

.content_mdl {
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

.form-group-mdl {
    margin-bottom: 10px;
}

.form-group-mdl label {
    display: block;
    margin-bottom: 5px;
}

.form-group-mdl input {
    border-radius: 3px;
    height: 35px;
    border: 1px solid #cbcbcb;
    padding: 0 10px;
    font-size: 14px;
}

.form-group-mdl select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 35px;
    padding: 10px;
    background: url(../pics/arrow-filtro-res.png) no-repeat;
    background-position: 95%;
}

.saveTransferencias,
.cancelarCompras {
    background: #db4437;
    display: block;
    color: #fff;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    transition: .3s;
}

.saveTransferencias:hover,
.cancelarCompras:hover {
    background: #c33a2f;
}